{% extends "layout.html" %} {% block title %} Apology {% endblock %} {% block
main %}
<div class="card">
  <div class="card-body text-center">
    <h2 class="card-title">Error {{ top }}</h2>
    <div class="mb-3">
      <img
        alt="{{ top }}"
        class="border img-fluid"
        src="http://memegen.link/custom/{{ top }}/{{ bottom }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png"
        title="{{ top }}"
      />
    </div>
    <p class="card-text">{{ bottom }}</p>
    <a href="/" class="btn btn-primary">Return Home</a>
  </div>
</div>
{% endblock %}
