{% extends "layout.html" %} {% block title %} Edit Mem Note {% endblock %} {%
block main %}
<form action="/edit_note/{{ this_note.id }}" method="post">
  <!-- First row with three columns -->
  <div class="row mb-3">
    <div class="col">
      <h5>Title</h5>
      <input
        autocomplete="off"
        autofocus
        class="form-control"
        name="title"
        placeholder="Note Title"
        type="text"
        value="{{ this_note.title }}"
      />
    </div>
    <div class="col">
      <h5>Subject</h5>
      <input
        class="form-control"
        name="subject"
        placeholder="Note Subject"
        type="text"
        value="{{ this_note.subject }}"
      />
    </div>
    <div class="col">
      <h5>Topic</h5>
      <input
        class="form-control"
        name="topic"
        placeholder="Note Topic"
        type="text"
        value="{{ this_note.topic }}"
      />
    </div>
  </div>
  <!-- Second row with content -->
  <div class="mb-3">
    <h5>Content</h5>
    <textarea
      class="form-control"
      name="content"
      placeholder="Note Content"
      rows="10"
      style="width: 100%"
    >
{{ this_note.content }}</textarea
    >
  </div>
  <!-- Multiple Choice Question section -->
  <div class="mb-3">
    <h5>Multiple Choice Question (Optional)</h5>
    <div class="mb-3">
      <textarea
        class="form-control"
        name="question"
        placeholder="Question"
        rows="2"
      >
{{ this_note.question }}</textarea
      >
    </div>

    <div class="row mb-3">
      <div class="col">
        <label class="form-label text-success">Correct Answer</label>
        <input
          type="text"
          class="form-control"
          name="correct_answer"
          placeholder="Correct Answer"
          value="{{ this_note.correct_answer }}"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label class="form-label text-danger">Incorrect Answers</label>
        <input
          type="text"
          class="form-control mb-2"
          name="wrong_answer1"
          placeholder="Wrong Answer 1"
          value="{{ this_note.wrong_answer1 }}"
        />
        <input
          type="text"
          class="form-control mb-2"
          name="wrong_answer2"
          placeholder="Wrong Answer 2"
          value="{{ this_note.wrong_answer2 }}"
        />
        <input
          type="text"
          class="form-control"
          name="wrong_answer3"
          placeholder="Wrong Answer 3"
          value="{{ this_note.wrong_answer3 }}"
        />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <button class="btn btn-primary me-2" type="submit">Save Changes</button>
      <a href="/search" class="btn btn-secondary">Return to Search</a>
    </div>
    <a href="/display_note/{{ this_note.id }}" class="btn btn-secondary"
      >Cancel</a
    >
  </div>
</form>
{% endblock %}
