{% extends "layout.html" %} {% block title %} Test Parameters {% endblock %} {%
block main %}
<h2>Test Setup Parameters</h2>
<form action="/start_test" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="title"
      placeholder="Search by Title"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="content"
      placeholder="Search by Content"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="subject"
      placeholder="Search by Subject"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="topic"
      placeholder="Search by Topic"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="question_count"
      placeholder="Number of Questions"
      type="number"
      min="1"
      value="10"
    />
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">Start Test</button>
  </div>
</form>

<a href="/"><button class="btn btn-primary">Return to Main</button></a>
{% endblock %}
