{% extends "layout.html" %}

{% block title %}
    Write New Mem Note
{% endblock %}

{% block main %}
    <form action="/record_new_note" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="title" placeholder="Note Title" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="content" placeholder="Note Content" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save New Mem Note</button>
    </form>
{% endblock %}
